.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px;
  padding: 0px;
  /* background-image: url('./pexels-andre-moura-4021529.jpg'); */
}

@media only screen and (max-width: 800px) {
  .App {
      width: 100%;
  }
}

